# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/

# Coverage
.coverage
htmlcov/

# IDE
.idea/

# OS
Thumbs.db